<div class="container">
    
    </div class="row">
        </div class="column">

        <p>
            User input is unacceptable. Please see variable definitions and ranges below
        </p>
        <p>
            latitude: a float between -90 to 90 that shows the latitude in which the image was taken
        </p>
        <p>
            longitude: a float between -180 to 180 that shows the longitude in which the image was taken
        </p>
        <p>
            epoch: Linux epoch in second
        </p>
        <p>
            orientation: a float between -180 to 180 the east-ward orientation of car travel from true north. 0 means north. 90 is east and -90 is west
        </p>
            <hr>
            <a href="http://localhost:5000/">Home</a>

        </div>    
    </div>

</div>